@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:#4891ff;
  --dark-gray: #ddd;
  --gray: #f4f4f6;
  --black: #111;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}
html body {
  min-height: 100vh;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}
html body ul, html body li {
  list-style-type: none;
}
html body a {
  text-decoration: none;
  color: var(--black);
}
html body img {
  max-width: 100%;
}
html body h2 {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 400;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

nav.desktop {
  background-color: var(--white);
  margin-bottom: 4em;
}
nav.desktop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em;
}
nav.desktop .container img {
  width: 100%;
}
nav.desktop .container ul {
  display: flex;
  gap: 2em;
}
nav.desktop .container ul li a {
  font-size: 1em;
  font-weight: 500;
  transition: all 0.2s;
}
nav.desktop .container ul li a:hover {
  color: var(--primary-color);
}
nav.desktop .container ul li a.log-in {
  background-color: var(--gray);
  padding: 1em;
  border-radius: 8px;
}
nav.desktop .container ul li a.log-in i {
  margin-right: 0.5em;
}
nav.desktop .container ul li a.log-in:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

section.hero {
  margin-bottom: 4em;
}
section.hero .container {
  background: url(/assets/img/hero-bg.png) no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}
section.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.hero .container .hero-content h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  width: 70%;
}
section.hero .container .hero-content .button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
}
section.hero .container .hero-content .button-container a {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15%;
  padding: 0.8em 1em;
  border-radius: 8px;
  transition: all 0.2s;
}
section.hero .container .hero-content .button-container a i {
  margin-right: 0.5em;
}
section.hero .container .hero-content .button-container a:nth-child(1) {
  background-color: var(--primary-color);
  color: var(--white);
}
section.hero .container .hero-content .button-container a:nth-child(1):hover {
  background-color: var(--black);
  color: var(--white);
}
section.hero .container .hero-content .button-container a:nth-child(2) {
  background-color: var(--gray);
}
section.hero .container .hero-content .button-container a:nth-child(2):hover {
  background-color: var(--primary-color);
  color: var(--white);
}

section.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
  background-color: var(--black);
  color: var(--white);
  padding: 2em 0em;
}
section.video .container-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
section.video .container-sm h2 {
  text-align: center;
}
section.video .container-sm a {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.8em 1em;
  border-radius: 8px;
  transition: all 0.2s;
}
section.video .container-sm a:hover {
  background-color: var(--white);
  color: var(--black);
}
section.video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
section.video .container h2 {
  text-align: left;
}
section.video .container .testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
section.video .container .testimonials-grid .card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}
section.video .container .testimonials-grid .card p:nth-child(2) {
  margin-top: 30px;
  font-weight: 600;
}

section.pricing {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0em;
}
section.pricing span {
  color: var(--primary-color);
}
section.pricing .container-sm {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
section.pricing .container-sm .pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
section.pricing .container-sm .pricing-grid .card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.1em;
  padding-top: 4em;
  border-radius: 8px;
}
section.pricing .container-sm .pricing-grid .card span {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 400;
}
section.pricing .container-sm .pricing-grid .card a {
  background-color: var(--primary-color);
  color: var(--white);
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 8px;
  transition: all 0.2s;
  margin-top: 1em;
}
section.pricing .container-sm .pricing-grid .card a:hover {
  background-color: var(--black);
}
section.pricing .container-sm .pricing-grid .card a.premium:hover {
  background-color: var(--white);
  color: var(--black);
}
section.pricing .container-sm .pricing-grid .card ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.pricing .container-sm .pricing-grid .card ul i {
  margin-right: 0.5em;
}
section.pricing .container-sm .pricing-grid .card:nth-child(1) {
  background-color: var(--gray);
}
section.pricing .container-sm .pricing-grid .card:nth-child(1) span {
  color: var(--black);
}
section.pricing .container-sm .pricing-grid .card:nth-child(2) {
  background-color: var(--black);
  color: var(--white);
}
section.pricing .container-sm .pricing-grid .card:nth-child(2) span {
  color: var(--white);
}

section.faq {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0em;
}
section.faq .container-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0em;
}
section.faq .container-sm ul {
  background-color: var(--dark-gray);
  display: flex;
  min-width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 8px;
}
section.faq .container-sm ul li {
  padding: 0.8em 0em;
}
section.faq .container-sm ul li a {
  padding: 0.8em 1em;
  border-radius: 8px;
  font-weight: 500;
}
section.faq .container-sm ul li a.active {
  background-color: var(--primary-color);
  color: var(--white);
}
section.faq .container-sm .faq-group {
  border-bottom: 1px solid #ccc;
  margin-top: 4em;
  transform: all 0.3s ease;
  /*             .faq-group-body.open .faq-group-header i {
                  transform: rotate(180deg);
                } */
}
section.faq .container-sm .faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}
section.faq .container-sm .faq-group .faq-group-header h4 {
  font-size: 1.2em;
  font-weight: 500;
  width: 95%;
}
section.faq .container-sm .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}
section.faq .container-sm .faq-group .faq-group-body {
  display: none;
  transition: all 0.3s ease-in-out;
}
section.faq .container-sm .faq-group .faq-group-body.open {
  display: block;
}

/*# sourceMappingURL=main.css.map */
