@media (max-width: 1024px){

    html{
        body{
            h2{
                font-size: 1.875rem;
                line-height: 1.4;
                font-weight:400;
            }
        }
    }

    nav.desktop{
        display: none;
    }

    section.hero{
        
        .container{
            background: var(--white);
            min-height: fit-content;

            .hero-content{

                h1{
                    font-size: 2rem;
                    width: 100%;
                }

                .button-container{
                    flex-direction: column;

                    a{
                        width: 100%;
                    }
                }

                img.mobile{
                    display: block;
                    margin-top: 3em;
                }
            }
        }
    }

    section.video{
        padding: 2em 0em;
        gap: 2em;

        .container-sm{
            border-bottom: 1px solid var(--gray);
            padding-bottom: 3em;

            a{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .container{
            gap: 1em;
            
            .testimonials-grid{
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        }

    }

    section.pricing{
        padding: 2em 0em;

        .container-sm{

            .pricing-grid{
                display: flex;
                flex-direction: column;

                p{
                    text-align: left
                }
            }

            p{
                text-align: center;
            }
        }
    }

    section.faq{
        .container-sm{
            padding: 0em 1em;

            ul{
                width: 100%;
            }

            h2{
                width: 80%;
                text-align: center;
                font-size: 1.875rem;
            }

            .faq-group{
                margin-top: 0em;

                h4{
                    font-size: 1.1em;
                }
            }
        }
    }

    footer{
        padding: 2em 0em;

        .container{

            .contact-content{
                flex-direction: column;
                gap: 1.5em;

                form{
                    max-width: 100%;
                }
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}